.main-container {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  .container-btn {
    width: 100%;
    text-align: right;
    padding: 3px;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 5px;

    border-radius: 3px;
  }
  .el-dialog__header {
    text-align: center;
  }
  .dialog-tips {
    font-size: 12px;
    padding: 5px;
  }